<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" id="twentyfifteen-fonts-css" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400italic%2C700italic%2C400%2C700%7CNoto+Serif%3A400italic%2C700italic%2C400%2C700%7CInconsolata%3A400%2C700&subset=latin%2Clatin-ext" type="text/css" media="all" />
    <link rel="stylesheet" href="https://wp-themes.com/wp-content/themes/twentyfifteen/style.css?ver=4.5-beta1-36776" />
    <link rel="stylesheet" id="genericons-css" href="https://wp-themes.com/wp-content/themes/twentyfifteen/genericons/genericons.css?ver=3.2" type="text/css" media="all" />
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    <script src="/dist/confluence-web-components-flatpack.js"></script>
    <style>
        confluence-quick-search button,
        confluence-quick-search label {
            display:none;
        }
    </style>
</head>
<body class="home blog">
    <div id="page" class="hfeed site">
        <div id="sidebar" class="sidebar">
            <header id="masthead" class="site-header" role="banner">
                <div class="site-branding">
                    <h1 class="site-title"><a href="{{xdm_e}}{{cp}}" target="_top">Confluence</a></h1>
                </div>
            </header>
            <div id="secondary" class="secondary">
                <div id="widget-area" class="widget-area" role="complementary">
                    <aside class="widget widget_search">
                        <confluence-quick-search placeholder="Search ..."></confluence-quick-search>
                    </aside>
                    <aside class="widget widget_recent_entries">
                        <h2 class="widget-title">SPACES</h2>
                        <confluence-space-list tag-name="ul"></confluence-space-list>
                    </aside>
                    <aside class="widget widget_recent_entries">
                        <h2 class="widget-title">RECENT BLOGPOSTS</h2>
                        <confluence-content-list tag-name="ul" cql="type=blogpost order by created" limit="5"></confluence-content-list>
                    </aside>
                    <aside class="widget widget_recent_entries">
                        <h2 class="widget-title">RECENT PAGES</h2>
                        <confluence-content-list tag-name="ul" cql="type=page order by created" limit="5"></confluence-content-list>
                    </aside>
                </div>
            </div>
        </div>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main"></main>
            </div>
        </div>
        <script>
            function getArticleNode(contentId) {
                var article = document.createElement('article');
                article.className = "post type-post status-publish format-standard hentry";

                var articleHeader = document.createElement('header');
                articleHeader.className = "entry-header";

                var contentTitle = document.createElement('confluence-content-title');
                contentTitle.setAttribute('tag-name', 'h2');
                contentTitle.setAttribute('link-to-content', true);
                contentTitle.setAttribute('class-name', 'entry-title');
                contentTitle.setAttribute('content-id', contentId);

                var contentWrapper = document.createElement('div');
                contentWrapper.className = 'entry-content';

                var contentBody = document.createElement('confluence-content-body');
                contentBody.setAttribute('content-id', contentId);

                contentWrapper.appendChild(contentBody);
                articleHeader.appendChild(contentTitle);
                article.appendChild(articleHeader);
                article.appendChild(contentWrapper);

                return article;
            }

            AP.require('request', function(request) {
                request({
                    url: '/rest/api/search?cql=type=blogpost order by created',
                    success: function(response) {

                        var articleWrapper = document.createElement('div');

                        JSON.parse(response).results.map(function(result) {
                            articleWrapper.appendChild(getArticleNode(result.content.id));
                        });

                        document.getElementById('main').appendChild(articleWrapper);
                    }
                });
            });
        </script>
    </div>
</body>
</html>
