{{!< ../layout}}
{{#contentFor 'pageStyles'}}
    <style>
        confluence-comment-list ol {
            list-style-type: none;
            margin: 0;
            padding-left: 40px;
        }

        confluence-comment-list ol.comment-threads.top-level {
            margin-top: 5px;
            margin-bottom: 0;
            padding-left: 0;
            border-bottom: 1px solid #ccc;
        }

        confluence-comment-list .comment {
            border-top: 1px solid #ccc;
            clear: left;
            padding: 10px 0 10px 0;
            margin: 0 0 -1px 0;
            position: relative;
        }

        confluence-comment-list .avatar-container {
            width: 32px;
            margin: 0 10px 0 0;
            padding: 0;
            float: left;
        }

        confluence-comment-list .avatar-container img {
            width: 32px;
            height: 32px;
            border-radius: 2px;
        }

        confluence-comment-list .comment-header .author {
            line-height: 1.2;
            color: #666;
            padding: 0;
        }

        confluence-comment-list .comment-header .author a {
            vertical-align: top;
        }

        confluence-comment-list .comment-header {
            margin-bottom: 10px;
        }
    </style>
{{/contentFor}}
<h3>&lt;confluence-comment-list&gt;</h3>
<ul>
    <li>Renders a list of comments related to a particular piece of content</li>
</ul>
<div class="web-component-example">
    <div class="web-component-output">
        <div id="comments-section">
            <confluence-comment-list
                    container-class-name="comment-threads top-level"
                    comment-class-name="comment-thread"
                    content-id="98308"
                    depth="8"
                    avatar-container-class-name="avatar-container"
            ></confluence-comment-list>
        </div>
    </div>
    <div class="web-component-code">
        <pre>&lt;confluence-comment-list content-id="98308" depth="8"/&gt;</pre>
    </div>
</div>
